body {
	background-color: white;
	
	 font-family: 'IBM Plex Mono', monospace;

}

h1 {
	text-align: center;
}
.racetrack {
	width: 300px 0;
	border: 5px solid black;
	padding: 15px 5px;
	margin: 25px 25px 25px;\
	height: ;
}

p {
	text-align: left;
	text-transform: bold;
	


}
img {
	height: 50px;
	width: 50px;

}
