body {
	
	 font-family: 'IBM Plex Mono', monospace;
	 background-image: url('photos/greenhillzone.jpg');
	 background-size: cover;
	 
	 background-repeat: no-repeat;
}

h1 {
	text-align: center;
	color: white;
	background-color: rgba();
	
}
.racetrack {
	width: 300px 0;
	border: 5px solid black;
	padding: 15px 5px;
	margin: 25px 25px 25px;
	
}

p {
	text-align: left;
	text-transform: bold;
	color: white;
	

}




#shadow {
	height: 190px;
	width: 200px;
	position: relative;
	left: 0;
	background: url('photos/shadow.gif');
}

#sonic {
	height: 170px;
	width: 170px;
	position: relative;
	left: 0;
	background: url('photos/sonic2.gif');

}